/* overall page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  line-height: 1.6;
  background-color: #EEEAE8;
  color: #000000;
}

/* ------------------------------------------------------------------- */
/* main nav */
.main-nav {
  background-color: #22443d;
  padding: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  z-index: 1000;
}
  
.main-nav a,
.dropbtn {
  all: unset;
  font-family: inherit; 
  font-size: 20px;
  color: #DAECD5;
  text-decoration: none;
  font-weight: bold;
}

.dropbtn {
  /* color: #FF91AF; */
  background-color: transparent;  
  border: none;                  
  /* padding: 14px 20px; */
  /* font-size: 16px; */
  cursor: pointer;
}

.main-nav a:hover,
.dropdown:hover .dropbtn {
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {
  background-color: #666;
} */

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------------------------------------------------------------- */
/* about me page */
.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10rem;
  padding-bottom: 1px;
  background-color: #EEEAE8;
  min-height: 80vh;
}

.more-about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1px;
  padding-bottom: 4rem;
  background-color: #EEEAE8;
  min-height: 80vh;
}

.picture {
  flex: 1;
  max-width: 300px;
  margin-right: 2rem;
}

.picture img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.bio {
  flex: 2;
}

.bio h1 {
  margin-top: 0;
}

/* ------------------------------------------------------------------- */
/* resume page */
.resume-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10rem 2rem;
}

/* ------------------------------------------------------------------- */
/* sub nav for case studies */
.sub-nav {
  padding-top: 50px;
  position: fixed;
  top: 150px;
  height: 70%;
  width: 200px;
  background-color: #1a4f55;
  display: flex;
  flex-direction: column;
}

.sub-nav a {
  color: #DFF2F7;
  padding: 8px 20px;
  text-decoration: none;
  display: block;
}

.sub-nav a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------------------- */
/* main content of case study */
.main-content {
  margin-left: 250px;
  padding-top: 150px;
}

section {
  margin-bottom: 2rem;
}

h1, h2, h3 {
  color: #22443d;
  margin-top: 1.5rem;
}

ul {
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 6px;
}

.caption {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 1rem;
}

.visual-block {
  background-color: #95B2A2;
  padding: 1.5rem;
  border-left: 5px solid rgb(54, 87, 60);
  border-radius: 6px;
}

.highlight-box {
  background-color: #dfbab0;
  padding: 1.5rem;
  border-left: 5px solid #a98c85;
  border-radius: 6px;
}

.image-caption-block {
  text-align: center;
}

.two-column {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}
